th {
  background-color: bisque;
}

// .add-user-title{
// }

.add-user-form {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  width: 600px;
}

.add-user-input {
  width: 150px;
  border: 0;
  border-radius: 10px;
  padding: 0 10px;
}
